# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# SQLite DB
backend/airquality.db

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Byte-compiled / distribution
build/
dist/
.eggs/
*.egg-info/

# Local env files
.env

# Logs
*.log
